body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#all {  
    background: #eee;
    width: 850px;
    margin: auto;   
}

#topElements {
    height: 40px;
    width: 900px;
    background: silver; 
    margin: auto;
    padding-top: 20px;
}

#logoDiv {
    width: 33%;
    float: left;
    text-align: center;
}

#searchDiv {
    width: 34%;
    float: left;
    text-align: center;
}

#loginDiv {
    width: 33%;
    float: left;
    text-align: center;
}

#menu {
    padding-top: 15px;
    height: 30px;
    background: #aaa;
}

#adminMenu {
    padding-top: 15px;
    height: 30px;
    background: #abb;
}

#main {
    height: 600px;
    background: #bbb;
    text-align: left;
    padding-left: 5px;
}

#footer {
    height: 60px;
    background: #aaa;
}

#projectBox1 {
    height: 25px;
    background: #a8a8a8;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    float: left;
    margin-top: 5px;
}

#projectBox2 {
    height: 25px;
    background: #c9c9c9;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    float: left;
    margin-top: 5px;
}